a:hover{
	text-decoration: none;
}
#navbar{
	background-color: #333745;
	border:1px solid transparent;
	border-radius: 0.3em;
}
#navbar > div > div.navbar-collapse.collapse > nav > ul> li >a{
	color: silver;
}
#navbar > div > div.navbar-collapse.collapse > nav > ul> li>a:hover{
	border-bottom: 1px solid white;
	color: white;
}
.navbar-default .navbar-nav > .active > a:hover{
	background-color: #505154;
	border-bottom: 2px solid white;
	color: white;
}
.navbar-default .navbar-nav > .active > a{
	border-bottom: 1px solid white;
	background-color: #505154;
}
#navbar > div > div.navbar-header > a.name.navbar-brand{
	color: white;
	font-weight: bold;
}
#navbar > div > div.navbar-header > a.logo.navbar-btn.pull-left>img{
	border:1px solid white;
	background-color: white;
	border-radius: 7px;
}
#block-views-image-slideshow-block > div > div > table > tbody > tr > td > div > div > img{
	height: 200px;
	width: 150px;
	padding: 5px;
}
#block-system-main > div > div > table > tbody > tr>td{
	float: left;
	margin: 50px 0px 0px 60px;
	border: 1px;
	
}
#block-system-main > div > div > table > tbody > tr>td:hover{
box-shadow: 0px 0px 15px #888888;
}
#block-system-main > div > div > table > tbody > tr > td > div > div > a > img{
	height: 300px;
	width: 200px;
}

body > footer{
	background-color: #333745;
	border:1px solid transparent;
	border-radius: 0.3em;
}
#block-system-main > div > div > table > tbody > tr > td > div > span > a{
	font-weight: bold;
	color: #333745;
	font-size: 17px;
}
#block-views-category-list-block > div > div > table > tbody > tr > td > div > span > a{
	color: white;
	float: left;
	text-align: center;
	padding: 0px 0px 0px 50px;
	font-size: 15px;
	-webkit-animation-name: testTrans;
	-webkit-animation-duration: 1.5s;
}
@-webkit-keyframes testTrans{
	from{background-color: white;}
	to {background-color: red;}
}
#block-views-category-list-block > div > div > table > tbody > tr > td > div > span > a:hover{
	text-decoration: none;
	color: yellow;
	cursor: pointer;
}
#block-views-category-list-block > div > div > table{
	width: 100%;
}
#block-views-image-slideshow-block > div > div > table{
	width: 100%;
}
#block-views-image-slideshow-block > div > div > table > tbody > tr > td > div > div > img{
	height: 300px;
	width: 200px;
	margin-left: 15px;
}
#block-views-image-slideshow-block > div > div > table > tbody > tr > td > div > div > img:hover{
	box-shadow: 0px 0px 15px #888888;
}
body > div.main-container.container > div > section > div.highlighted.jumbotron > div{
	width: 100%;
	height: 100%;
}
#block-views-flowers-block > div > div > div{
	color: green;
	display: inline-block;
}
#block-views-flowers-block > div > div > div > span > img{
		width: 150px;
		height: 250px;
	}
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.active, .dot:hover {
  background-color: #717171;
}
#block-views-image-slideshow-block > div.content > div > div > table > tbody{
	display: flex; 
	text-align:center;
}
#block-views-image-slideshow-block > div.content{
	display: flex;
	margin: auto;
}
#block-views-image-slideshow-block > div.content > div > div > table > tbody > tr >td>img{
	height: 220px;
	width: 138px;
}
#block-views-image-slideshow-block > div.content > div > div > table > tbody > tr:nth-child(2){
	padding: 0px 242px;
}
.prev, .next {
  cursor: pointer;
  width: auto;
  padding: 16px;
  color: blue;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
  margin: auto;
}
#block-views-image-slideshow-block > div.content > div{
	width: inherit;
	margin: auto;
}

#block-views-image-slideshow-block > div.content > div > div > table > tbody > tr >td>img{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade{
  from {opacity: .4}
  to {opacity: 1}
}

#block-views-image-slideshow-block > div.content > div > div{
	display: flex;
}
#block-views-image-slideshow-block > div.content > div > div > table{
	margin: auto;
}
